body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #f4f4f4;
    background-color: #111;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

main{
    margin: 2rem auto;
    width: 80%;
}

section{
    background-color: #222;
    border: 2px solid #fff;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

section h2{
    border-bottom: 2px solid #f4f4f4;
    text-align: center;
}

section#Gallery img{
    display: inline;
}

section#Food{
    display: block;
}

section#Food ul{
    columns: 3;
}

section#Food ul li{
    display: block;
}

section#Games ul{
    columns: 2;
}